body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6cceb;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    background-color: #4c61e8;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1aa34a;
}
